div {
    height: 200px;
    width: 200px;
    background-color: aqua;
    border: 1px solid black;
}

/* Used for `ABSOLUTE` positioning */
/* section {
    position: relative;
} */

#square_section1 {
    background-color: brown;
    
    /* Check Mdn for reference */
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/position */
    
    /* STATIC */
    /* position: static; No changes will be applied regardless of changing top, bottom, left or right */
    
    /* RELATIVE */
    /* position: relative; The position is relative to itself */
    /* top: 20px; */

    /* ABSOLUTE */
    /* position: absolute; /* Position is set based on the parent*/
    /* top: 20px; */

    /* STICKY */ /* Very useful*/
    /* position: sticky;
    top: 20px; */
}

