html {
    height: 100%;
}

body {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: repeating-linear-gradient(135deg, #031926, #283845, #031926 5px, #283845 11.8px);
}


section {
    margin: 200px auto;
    width: 50%;
    background-color: #465362;
    border-radius: 50px;
}

section h1 {
    text-align: center;
    padding-top: 50px;
    font-size: 3rem;
}

section span {
    font-size: 4rem;
}

.text-color {
    color: white;
}