/*https://codepen.io/Sahi515/pen/ZEOWgxN*/
html {
    height: 100%;
}

body {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: repeating-linear-gradient(135deg, #031926, #283845, #031926 5px, #283845 11.8px);
}


section {
    margin: 150px auto;
    width: 50%;
    background-color: #465362;
    border-radius: 40px;
    padding-bottom: 100px;
}

section h1 {
    text-align: center;
    padding-top: 50px;
    font-size: 3rem;
}

section span {
    font-size: 4rem;
}

.text-color {
    color: white;
}

#adder {
   text-align: center;
   margin-left: 25px;
}

input {
    padding-left: 20px;
    width: 30rem;
    height: 2.5rem;
    border-radius: 40px;
}

button {
    height: 2.5rem;
    border-radius: 25px;
    margin-left: 30px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(192, 192, 192);
}

.newToDoDiv {
    width: 30rem;
    height: 2.5rem;
    border-radius: 10px;
    background-color: white;
    margin: 20px auto;
}

hr {
    margin: 40px 0;
}

.overflow {
    overflow: scroll;
}

.newToDoDivP {
    padding-top: 10px;
    padding-left: 10px;
}