body {
    background-color: cadetblue
}

/* #row1 {
    border: 2px solid red;
    border-top: none;
}

#row2 {
    border: 2px solid red;
}

#row3 {
    border: 2px solid red;
    border-bottom: none;
} */

table td+td {
    border-left: 2px solid red;
}

table tr+tr {
    border-top: 2px solid red;
}

table td {
    display: inline-block;
}

table {
    margin: 100px;
}

#container {
    margin: 300px auto;
    width: 50%;
    height: 300px;
}

#row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    width: 300px;
    height: 100px;
}

#container #row div {
    width: 100px;
    height: 100px;
    border: 7px solid black;
}

#container #row:nth-of-type(1) div, #container #row:nth-of-type(3) div {
    border-top: none;
    border-bottom: none;
}


#container #row div:nth-of-type(3n), #container #row div:nth-of-type(3n + 1) {
    border-right: none;
    border-left: none;
}