body {
    background-color: #060d17;
}

h1 {
    color: white;
    text-align: center;
}


#search {
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
}

#search input {
    width: 60%;
    max-width: 760px;
}

#container {
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
    width: 90%;
    height: 300px;
    min-width: 720px;
}

#container #imgInfo {
    display: flex;
    width: 30%;
    height: 300px;
    border: 1px solid red;
    justify-content: center;
}

#container #movieInfo {
    width: 70%;
    height: 300px;
    border: 1px solid yellowgreen;
    background-color: aqua;
}

#imgInfo img {
    object-fit: scale-down;
}
