.card {
    width: 210px;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    /* border: 1px solid grey; */
    border-radius: 5px;
}

h1 {
    text-align: center;
}

img {


    width: 200px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(236, 183, 191);
    /* border: 5px solid rgb(236, 183, 191); */
    border-radius: 50%;
}